<div class="login-container">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
  </div>
  <div class="buttons">
    <button class="btn" routerLink="/messages">LOGIN</button>
    <button class="btn" routerLink="/register">REGISTER</button>
  </div>

</div>
