html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.wrapper {
  height: 0;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: translateX(50%);
}
