<mat-card>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>USERNAME:</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
          Please enter a username.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>EMAIL:</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>PASSWORD:</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
          Please enter a password.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>CONFIRM PASSWORD:</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        <mat-error *ngIf="userForm.get('confirmPassword')?.hasError('passwordsNotMatched') && userForm.get('confirmPassword')?.dirty">
          Passwords do not match.
        </mat-error>
        <mat-error *ngIf="userForm.get('confirmPassword')?.dirty && userForm.get('confirmPassword')?.hasError('required')">
          Please confirm your password.
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="agreeToTerms" required>
        I agree to the terms and conditions.
      </mat-checkbox>
      <mat-error *ngIf="userForm.get('agreeToTerms')?.invalid && userForm.get('agreeToTerms')?.touched">
        Please agree to the terms and conditions.
      </mat-error>

      <button mat-raised-button color="primary" [disabled]="userForm.invalid">REGISTER</button>
    </form>
  </mat-card-content>
</mat-card>
