.room {
  background-color: blue;
  border-radius: 10px;
  padding: 20px 24px 20px 76px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}
.name {
  width: 99.56%;
  height: 42.5%;
  color: white;
  margin-bottom: 1px;
  font-family: Arial;
  font-size: 12px;
}
.last-message {
  height: 55%;
  color: white;
  align-self: stretch;
}
.button-image {
  display: block;
  margin-top: 20px;
  margin-left: 90%;
  width: 80px;
  height: 80px;
  background-image: url('src/assets/Button-ADD.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}
